body {
}

#Panel2 {
    margin: auto;
    width: 90%;
}

.options {
    background-color: white;
    width: 20%;
    display: inline;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    /*margin-left:80px;*/
    color: darkred;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Malgun Gothic';
}

#NavigationButtons {
    width: 95%;
    padding-left: 0%;
    margin-bottom: 2%;
}

#kopchinja {
    width: 30%;
    margin: auto;
    padding-top: 15px;
}

#tabela4 tr td:first-child {
    text-align: right;
}

#tabela4 tr td:last-child {
    text-align: left;
}

#tabela4 td {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

.pnlAR {
    width: 100%;
    /*background-color:white;*/
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.pnlPR {
    width: 95%;
    background-color: transparent;
    /*height: 450px;*/
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.info {
    /*border-bottom:2px solid #BA252A;*/
    margin-left: 45%;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    margin-bottom: 1%;
}


.labeli {
    color: #BA252A;
    font-weight: bold;
}

#search {
    text-align: right;
    width: 60%;
    margin: auto;
}

.buttons {
    color: rgb(245,222,95);
    background-color: #BA252A;
    width: 172px;
    font-weight: bold;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
}

.buttons5 {
    color: rgb(245,222,95);
    background-color: #BA252A;
    width: 172px;
    font-weight: bold;
    height: 30px;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 15px;
}

.txtSearchUser {
    /*margin-left:58%;*/
    height: 35px;
    width: 200px;
}

.pomesti {
    margin: auto;
}

#btnGoBack {
    margin-left: 30%;
}
