body {
    font-family: 'Malgun Gothic';
}

#tabela {
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    border: 20px solid #F0CB01;
}

td {
    padding-bottom: 1%;
    padding-top: 1%;
}

#Panel1 {
    width: 35%;
    margin: auto;
}

.registracija {
    border-bottom: 2px solid #BA252A;
    margin-right: 0px;
    font-weight: bolder;
    font-size: 25px;
    color: #BA252A;
}

.labeli {
    color: #BA252A;
    font-weight: bold;
    padding-right: 5%;
}

.buttons {
    color: rgb(245,222,95);
    background-color: #BA252A;
    width: 150px;
    font-weight: bold;
    height: 30px;
    /*margin-left:20px;*/
    font-size: 15px;
}

.or {
    color: #BA252A;
    font-style: italic;
    font-weight: bold;
}

#btnLogin {
    color: #F0CB01;
    font-style: italic;
    font-weight: bold;
}

    #btnLogin:hover {
        font-size: larger;
    }

.textFields {
    /*width:188px;*/
    height: 20px;
}

.validationText {
    /*font-style:italic;
color:#BA252A;
border-radius:5px;
border-bottom:1px solid rgb(245,222,95);*/
}
