body {
    font-family: 'Malgun Gothic';
}

#tabela {
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    border: 20px solid #F0CB01;
}

td {
    padding-bottom: 1%;
    padding-top: 1%;
}

.najava {
    border-bottom: 2px solid #BA252A;
    font-weight: bolder;
    font-size: 25px;
    color: #BA252A;
}

.or {
    color: #BA252A;
    font-style: italic;
    font-weight: bold;
}

.labeli {
    color: #BA252A;
    font-weight: bold;
    padding-right: 5%;
}

.buttons {
    color: rgb(245,222,95);
    background-color: #BA252A;
    width: 150px;
    font-weight: bold;
    height: 30px;
    font-size: 15px;
}

#btnRegister {
    color: #F0CB01;
    font-style: italic;
    font-weight: bold;
}

#btnRegister:hover {
    font-size: larger;
}

.textFields {
    height: 20px;
}

#Panel1 {
    width: 35%;
    margin: auto;
}
