body {
    /* background-color:blue;*/
    font-family: 'Malgun Gothic';
}

#main {
    margin-left: 5%;
}

#gvRepertoar {
    margin-left: 5%;
}

#uspeshnaRez {
    color: darkred;
    font-style: italic;
    display: block;
    background-color: lightyellow;
    margin-bottom: 20px;
    padding: 2%;
    border-radius: 20px;
    width: 85%;
    margin: auto;
}

#modal {
    text-align: center;
}

#ime {
    font-size: 25px;
}

#termin {
    background: transparent;
    color: darkred;
    border: none;
    width: 140px;
}

.Redica {
    font-size: 20px;
}

#tabela {
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    width: 40%;
    border-radius: 20px;
    border: 20px solid #F0CB01;
}

.labeli {
    color: #BA252A;
    font-weight: bold;
}

.buttons {
    color: rgb(245,222,95);
    background-color: #BA252A;
    width: 150px;
    font-weight: bold;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
}

#Panel2 {
    margin-right: 5%;
    margin-bottom: 10px;
    float: right;
    width: 90%;
    text-align: right;
}

#gvPretstavi option {
    background-color: #DA621E;
}

#gvPretstavi td, #gvPretstavi th {
    padding: 5px;
}

option {
    background-color: #BA252A;
    color: #F0CB01;
}

select {
    background-color: #BA252A;
    border: 2px solid darkred;
    color: #F0CB01;
    padding: 3px;
}

.back {
    color: rgb(245,222,95);
    background-color: #BA252A;
    width: 150px;
    font-weight: bold;
    height: 30px;
    margin-top: 1%;
    margin-left: 40%;
    font-size: 15px;
}
