#Main {
    margin: auto;
    width: 90%;
}

.img-responsive {
    margin: auto;
}

.arrows {
    background-color: yellow;
    border-radius: 15px;
    color: darkred;
}

td, th {
    width: 100%;
}

.carouselButton {
    border: none;
    background: transparent;
    font-size: 20px;
    color: #F0CB01;
}