body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tabela {
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 20px;
    border: 20px solid #F0CB01;
}

#uspeshnaRez {
    color: darkred;
    font-style: italic;
    display: block;
    background-color: lightyellow;
    margin-bottom: 20px;
    padding: 2%;
    border-radius: 20px;
}

#modal {
    text-align: center;
}

#ime {
    font-size: 25px;
}

#termin {
    background: transparent;
    color: darkred;
    border: none;
    width: 140px;
}

option {
    background-color: #BA252A;
    color: #F0CB01;
}

select {
    background-color: #BA252A;
    border: 2px solid darkred;
    color: #F0CB01;
    padding: 3px;
}

#lblIme {
    font-size: 40px;
    color: #DA621E;
    font-style: italic;
    font-weight: bold;
}

.labeli {
    padding-left: 5%;
    color: #BA252A;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

.buttons {
    color: rgb(245,222,95);
    background-color: #BA252A;
    width: 150px;
    font-weight: bold;
    height: 30px;
    margin-left: 20px;
    font-size: x-large;
}

.results {
    color: #DA621E;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}
