body {
}

.label {
    font-family: 'Malgun Gothic';
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    margin-left: 40%;
    margin-top: 200px;
    padding: 20px;
    border-bottom: 5px solid #F0CB01;
    border-radius: 5px;
    border-radius: 10px;
    color: #F0CB01;
}

.button {
    margin-left: 54%;
    margin-top: 40px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: darkred;
    background-color: #F0CB01;
    font-family: 'Malgun Gothic';
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}
