body {

}

#Panel2 {

    margin-left:5%;


}

.options {

     background-color:white;
    width:20%;
   
   display:inline;
    
    padding-top:8px;
    padding-bottom:8px;

    border-bottom-right-radius:10px;
    border-top-right-radius:10px;

    /*margin-left:80px;*/
 
    color:darkred;
    font-weight:bold;
    font-size:18px;
    font-family:'Malgun Gothic';
  

}

#NavigationButtons {

   
    width:95%;
   padding-left:0%;
    margin-bottom:2%;
    

}

.pnlAR {

    width:95%;
    background-color:white;
    height:450px;
    
   
    border-top-left-radius:30px;
    border-top-right-radius:30px;


}

.pnlPR {

    width:95%;
    background-color:white;
    height:450px;
   
    border-top-left-radius:30px;
    border-top-right-radius:30px;


}

.info {

    border-bottom:2px solid #BA252A;
    margin-left:45%;
    font-weight:bolder;
    font-size:25px;
    color:#BA252A;

}