body 
{

   /* background-color:#BA252A; */
    background-image:url("../Images/background (2).jpg");
    background-size:cover;
    background-repeat:no-repeat;
   background-position:center top;
    

}

#logo 
{
    height:137px;
    float:left;
    padding-left:30px;
}

.logoPosition1
{
    width:100%;
    text-align:center;
}

.logoPosition2
{
    width:30%;
    text-align:center;
}

#container 
{
    width:90%;
    height:145px;
    padding-top:15px;
    padding-bottom:15px;
    margin:auto;
    background-color:white;
    border-top-left-radius:150px;
    border-top-right-radius:150px;
}

#header 
{
    width:100%;
}

.headerHeight1
{
    height:225px;
}

.headerHeight2
{
    height:285px;
}

.headerHeight3 
{
    height:455px;
}

#menu 
{
    float:right;
    position:relative;
    top:50px;
    text-align:center;
    padding-right:30px;
}

.menuPosition
{
    width:100%;
    margin:auto;
}

.menuItem1
{
    text-decoration:none;
    color:#BA252A;
    background-color:white;
    padding-right:25px;
    padding-left:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:15px;
    font-weight:bold;
    font-size:20px;
    font-family:'Malgun Gothic'
}

.menuItem2 
{
    text-decoration:none;
    color:#BA252A;
    background-color:white;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:5px;
    border-radius:15px;
    font-weight:bold;
    font-size:20px;
    font-family:'Malgun Gothic';
    display:block;
    text-align:center;
    position:relative;
}

.menuItem3
{
    text-decoration:none;
    color:#BA252A;
    background-color:white;
    padding-right:25px;
    padding-left:25px;
    padding-top:10px;
    padding-bottom:10px;
    margin-right:5px;
    border-radius:15px;
    font-weight:bold;
    font-size:20px;
    font-family:'Malgun Gothic';
    text-align:center;
    position:relative;
}

#status
{
     width:90%;
     margin:auto;
     font-size:18px;
     
     padding-right:300px;
}

#loggedUser, #noLoggedUser 
{
    text-align:right;
    display:block;
    color:yellow;
    padding:5px;
}

#logIn, #logOut, #register 
{
    text-decoration: none;
    color:yellow;
}

#user 
{
    font-style:italic;
    text-decoration:underline;
}