body {
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    font-size: 30px;
    color: darkred;
}

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        color: #F0CB01;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        width: 0.8em;
    }

.options {
    background-color: white;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    /*margin-left:80px;*/
    color: darkred;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Malgun Gothic';
}

#ddlPretstavi option {
    background-color: #BA252A;
    color: #F0CB01;
}

#ddlPretstavi {
    background-color: #BA252A;
    border: 2px solid darkred;
    color: #F0CB01;
    padding: 3px;
}

.myProfilePanel {
    width: 70%;
    height: 100%;
    background-color: white;
    /*margin-top:-200px;
    margin-left:500px;*/
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: inline-block;
    float: right;
}

.pnlSuggest {
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    display: inline-block;
    float: right;
    /* padding: 5%; */
    text-align: center;
}


.pnlReservations {
    width: 70%;
    height: 100%;
    background-color: white;
    /*margin-top:-200px;
    margin-left:500px;*/
    border-radius: 30px;
    display: inline-block;
    float: right;
}

.images {
    width: 30%;
    height: 150px;
    padding: 1%;
    /* margin-top: 12px; */
    /* background-color: blue; */
    /* margin-left: 10px; */
    /* margin: auto; */
}

.labeli {
    color: #BA252A;
    font-weight: bold;
    text-align: end;
}

.info {
    border-bottom: 2px solid #BA252A;
    font-weight: bolder;
    font-size: 25px;
    color: #BA252A;
}

.buttons {
    color: rgb(245,222,95);
    background-color: #BA252A;
    width: 32%;
    font-weight: bold;
    height: 30px;
    /*margin-left:20px;*/
    font-size: 12px;
}

.textFields {
    width: 188px;
    height: 20px;
}

#tabela {
    background-color: white;
    padding: 3%;
    /* padding-right: 25px; */
    /* margin-top: 10px; */
    border: 10px solid #F0CB01;
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
}

#tabela2 {
    background-color: white;
    padding: 3%;
    /* padding-right: 5px; */
    /* padding-top: 10px; */
    /* margin-top: -298px; */
    /* margin-left: 49%; */
    border: 10px solid #F0CB01;
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
}

.listbox {
    color: #BA252A;
    height: 200px;
    width: 450px;
    background-color: white;
    font-size: 18px;
    border: 10px solid #F0CB01;
    font-family: 'Malgun Gothic';
    /*margin-left:150px;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btnUp {
    background-image: url("../Images/upArrow.png");
    width: 45px;
    height: 55px;
    background-position: top;
    background-color: white;
}

.btnDown {
    background-image: url("../Images/downArrow.png");
    width: 45px;
    height: 55px;
    background-position: top;
    background-color: white;
}

.btnRemove {
    background-image: url("../Images/delete.png");
    width: 48px;
    height: 55px;
    background-position: center;
    background-color: white;
}

.infoList {
    border-bottom: 2px solid #BA252A;
    /*margin-left:200px;*/
    font-weight: bolder;
    font-size: 25px;
    color: #BA252A;
}

.images4 {
    width: 250px;
    height: 130px;
    margin-top: 12px;
    background-color: blue;
    margin-left: 10px;
}

.images5 {
    width: 250px;
    height: 130px;
    margin-top: 12px;
    background-color: blue;
    margin-left: 10px;
    margin-top: -150px;
}

.images6 {
    width: 250px;
    height: 130px;
    margin-top: 12px;
    background-color: blue;
    margin-left: 10px;
}

.lblSuggest {
    border-bottom: 2px solid #BA252A;
    /* margin-left: 20px; */
    font-weight: bolder;
    font-size: 25px;
    color: #BA252A;
    text-align: center;
    width: 47%;
    display: inline-block;
}

#tabela3 {
    margin-top: 10px;
    border: 10px solid #F0CB01;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: inline-block;
    height: 120px;
    padding-top: 40px;
    width: 47%;
}

#Panel1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
    height: 550px;
}

#Panel2 {
    text-align: center;
    height: 60%;
}

#Panel3, #Panel4 {
    height: 60%;
}

#NavigationPanel {
    display: inline-block;
    float: left;
    margin-top: 30px;
    width: 20%;
}

#imagesPanel1, #imagesPanel2, #imagesPanel3 {
    /*margin-top: 2%;*/
    text-align: center;
    height: 40%;
}

.pnlProfile {
    width: 50%;
    height: 100%;
}

#pnlProfile1 {
    float: left;
}

#pnlProfile2 {
    float: right;
}

.imagesPanel {
    margin: auto;
}

#Label5 {
    font-weight: bolder;
    font-size: 25px;
    color: #BA252A;
    padding: 3%;
    text-align: center;
}
